{% extends 'interior.html' %}
{% load custom_tags %}
{% block title %} | Booking{% endblock %}
{% block content %}
<h2>Booking</h2>
<div class="bg">
	<p>Foreverland is available for nightclubs, fairs, festivals, weddings and private events.</p>
	<p>When inquiring, please include the date and location of your event, as well as any information you can provide on the occasion, audience size, production needs, etc.</p>
	<p>Please contact <strong>Daniel Swan</strong> at:<br>
		<a href="mailto:daniel@swanentertainment.com">daniel@swanentertainment.com</a><br>
		<a href="tel:5106557926">(510) 655-7926</a>
	</p>
</div>
{% endblock %}
