{% load humanize %}
<h3>Profit/Loss</h3>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="text-center">Income</th>
                    <td></td>
                </tr>
                <tr>
                    <td>Paid by client</td>
                    <td>${{ paid_by_client_total_gross|intcomma }}</td>
                </tr>
                <tr>
                    <td>Paid by agent</td>
                    <td>${{ paid_by_agent_total_gross|intcomma }}</td>
                </tr>
                <tr>
                    <td>Other income</td>
                    <td>${{ total_other_income|intcomma }}</td>
                </tr>
                <tr>
                    <td align="right">Total Income:</td>
                    <td>${{ total_income|intcomma }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th class="text-center">Expense</th>
                    <td>&nbsp;</td>
                </tr>
                {% for category, payments in expense_payments.items %}
                    <tr>
                        <td>{{ category|title }}</td>
                        <td>${{ payments.total|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Production</td>
                    <td>${{ total_production_payments|intcomma }}</td>
                </tr>
                <tr>
                    <td>Commissions</td>
                    <td>${{ total_commission_payments|intcomma }}</td>
                </tr>
                <tr>
                    <td>Non-Partners</td>
                    <td>${{ non_partners_total|intcomma }}</td>
                </tr>
                <tr>
                    <td align="right">Total Expense:</td>
                    <td>${{ expense_grand_total|intcomma }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                 <tr>
                    <td>Profit before Partners:</td>
                    <td>${{ profit_before_partners|intcomma }}</td>
                </tr>
                <tr>
                    <td>Guaranteed Payments:</td>
                    <td>${{ all_partners_total|intcomma }}</td>
                </tr>
                <tr>
                    <td>Profit (Loss):</td>
                    <td>${{ profit_loss|intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

