<div class="quote">
	<h4>Testimonials</h4>
	<p>&ldquo;{{ random_quote }}&rdquo;</p>
	<a href="{% url 'about' %}#quotes">Read More</a>
</div>
<div class="fb">
	<div class="fb-page" data-href="https://www.facebook.com/ForeverlandSF" data-width="500" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ForeverlandSF"><a href="https://www.facebook.com/ForeverlandSF">Foreverland...A 14 Piece tribute to Michael Jackson</a></blockquote></div></div>
</div>
<div class="tw">
	<a class="twitter-timeline" href="https://twitter.com/ForeverlandBand" data-widget-id="385831208401137664">Tweets by @ForeverlandBand</a>
</div>