volumes:
  db_data:
  base-data:

services:
  web:
    container_name: foreverland
    build: ./web
    ports:
      - "8765:8000"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./web/:/home/ubuntu/app
    command: bash -c "
      python manage.py collectstatic --noinput &&
      python manage.py migrate --fake-initial &&
      python manage.py runserver 0.0.0.0:8000"
      # sleep infinity"
  db:
    container_name: foreverland_db
    image: mariadb:10.6
    restart: always
    env_file:
      - ./.env
    ports:
        - "3306:3306"
    volumes:
      - ./data:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "mysql foreverland -umysql -pX7P%!jkyW79o -e 'SELECT 1;'  || exit 1"]
      interval: 10s
      retries: 10

