{% extends 'base_fidouche.html' %}
{% load custom_tags %}

{% block content %}
<div class="page-header">
    <h2>File Expense</h2>
</div>
<form method="post" action="{{ request.path }}" role="form" enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<fieldset>
				<div class="form-group">
					<label for="id_date">Date</label>
					<div id="expense_date_picker" class="input-group">
						{{ form.date }}
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				<div class="form-group">
					<label for="id_payee">Payee</label>
					{{ form.payee }}
				</div>
				<div class="form-group">
					<label for="id_category">Category</label>
					{{ form.new_category }}
				</div>
				<div class="form-group">
					<label for="id_amount">Amount</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.amount }}
					</div>
				</div>
				<div class="form-group">
					<label for="id_check_no">Check #</label>
					{{ form.check_no }}
				</div>
				<div class="form-group">
					<label for="id_notes">Notes</label>
					{{ form.notes }}
				</div>
				<div class="form-group">
					<label for="id_receipt_img"><i class="fa fa-camera"></i> Upload Receipt</label>
					{{ form.receipt_img }}
				</div>
    		</fieldset>
    	</div>
     	<button type="submit" class="btn btn-block btn-lg btn-primary">Save</button>
	</div>
</form>
{% endblock %}
{% block js %}
<script>
	$(function(){
		$('#expense_date_picker').datetimepicker({
			pickTime: false
		});
		$('#id_payee, #id_new_category').select2();
	});
</script>
{% endblock %}