{% extends "base_fidouche.html" %}
{% block title %}Reset password{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<form method="post" class="form-signin">
    {% csrf_token %}
    <h2>Reset password</h2>
    <p>Enter your account email. If we have it on file, you will receive a reset link.</p>
    <div class="form-group">
        <input type="email" class="form-control input-lg" name="email" placeholder="Email" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset link</button>
</form>
{% endblock %}
