{% extends "registration/registration_base.html" %}
{% load custom_tags %}
{% load fidouche_tags %}
{% block title %}Register for an account{% endblock %}
{% block content %}
<div class="page-header">
	<h2>Get yourself an account</h2>
</div>
<div class="row">
	<div class="col-md-6">
		<form method="post" action="" class="add-control">{% csrf_token %}
			{% for field in form %}
				{% render_form_field field %}
			{% endfor %}
			<input type="submit" class="btn btn-primary" value="Get It">
		</form>
	</div>
</div>
				
{% endblock %}
