{% load humanize %}
<h3>Non-Partners and Subs
    <i class="fa fa-question-circle popover-trigger"
        data-toggle="popover"
        data-content="The records below show payments made to subs and to band members who were not partners during the specified date range.
        If a member was also a partner during the specified date range, those payments made during that time will appear under 'Partners.'">
    </i>
</h3>
<table class="table table-bordered table-striped datatable">
    <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Total Paid
            </th>
            <th>
                Payments
            </th>
        </tr>
    </thead>
    <tbody>
        {% for sub, payments in non_partner_payments.items %}
            <tr>
                <td>{{ sub.first_name }} {{ sub.last_name }} <i class="fa fa-home address-toggle" data-toggle="collapse" data-target="#{{ sub.type }}{{ sub.id }}_address"></i>
                    <div id="{{ sub.type }}{{ sub.id }}_address" class="collapse">
                        {% if sub.address %}
                            {{ sub.address }}<br>
                            {{ sub.city }}, {{ sub.state }} {{ sub.zip_code }}
                        {% else %}
                            <em>No address entered</em>
                        {% endif %}
                    </div></td>
                <td>${{ payments.total|intcomma }}</td>
                <td>{{ payments.payments|length }} {% if payments %}<i class="fa fa-list-ul payment-detail-toggle" data-toggle="modal" data-target="#{{ sub.type }}{{ sub.id }}_payments"></i>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>${{ non_partners_total|intcomma }}</td>
            <td></td>
        </tr>
    </tfoot>
</table>