.btn-instagram {
  color: #fff;
  background-color: #d13066;
  border-color: #a31243;
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
  color: #fff;
  background-color: #a31243;
}

.instagram-media {
  margin: 0 auto !important;
  max-width: 100% !important;
}

.fb-page {
  width: 100%;
}

#sidebar .insta {
  margin-bottom: 32px;
}