<div class="quote">
	<h4>Testimonials</h4>
	<p>&ldquo;{{ random_quote }}&rdquo;</p>
	<a href="{% url 'about' %}#quotes">Read More</a>
</div>
<div class="fb">
	<div class="fb-page" data-href="https://www.facebook.com/ForeverlandSF" data-width="500" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ForeverlandSF"><a href="https://www.facebook.com/ForeverlandSF">Foreverland...The Electrifying Tribute to Michael Jackson</a></blockquote></div></div>
</div>
<div class="tw">
	<a class="twitter-timeline" data-height="480" data-theme="dark" href="https://twitter.com/ForeverlandBand?ref_src=twsrc%5Etfw">Tweets by ForeverlandBand</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>