{% extends 'interior.html' %}
{% load custom_tags %}
{% block title %} | FAQ{% endblock %}
{% block content %}
<h2>Frequently Asked Questions</h2>
<div class="bg">
	<dl class="faq">
		<dt><span>Q.</span> Does Foreverland perform at private parties?</dt>
		<dd><span>A.</span> Absolutely. All the time. Events, parties and weddings of all sizes, anywhere around the country. Foreverland pride themselves on getting people up and dancing and singing along, from the very first song. The show is also very visually entertaining, and a feast for the eyes.</dd>

		<dt><span>Q.</span> Is Foreverland the right entertainment for my private party?</dt>
		<dd><span>A.</span> The answer from many satisfied customers and concert-goers is a resounding yes! Foreverland is one of the most popular and in-demand party bands in the United States. The band has a reputation for consistently putting on a phenomenal show and getting everyone in the room dancing along. Foreverland is suitable entertainment for any event.</dd>

		<dt><span>Q.</span> Does Foreverland ever come in smaller configurations or lineups?</dt>
		<dd><span>A.</span> Sorry. It’s always 14 members on stage. But it has to be. That’s what distinguishes Foreverland and makes them unique. Foreverland is unabashedly a "Big Show." Everything you see and hear is 100% live. There are no backing tracks, minidiscs, or pre-recorded sequences. Four amazing vocalists, four powerful horns, keys, guitars, bass, percussions and drums is the line-up that can best deliver the sheer musical force of Michael Jackson's music. Every band member on stage is part of the show and dances, moves, and interacts to make the show a dazzling experience.</dd>

		<dt><span>Q.</span> Is Foreverland too big a band to have at my small private party?</dt>
		<dd><span>A.</span> Foreverland are surprisingly adept at fitting into most venues and event sites. If we can physically fit in there, we can make it happen and rock your world. Our team is very happy to meet with you for a walk-through at the event site while you are in the planning stages.</dd>

		<dt><span>Q.</span> Does Foreverland only play Michael Jackson's music?</dt>
		<dd><span>A.</span> Foreverland is a pure Michael Jackson show spanning over four decades of pop, soul, R&B, rock, and dance hits made famous by Michael Jackson, The Jackson 5, the Jacksons and Michael’s duets. Foreverland’s sound production company can also spin choice background and dance music on either side of Foreverland’s performances, giving you seamless music all evening with plenty of variety.</dd>

		<dt><span>Q.</span> I want my guests to be dancing all night. Is Foreverland the right type of band for that?</dt>
		<dd><span>A.</span> Michael Jackson is one of the biggest selling artists of all time. His music is loved by all types of people, young and old. Foreverland perform two-plus hours of instantly recognizable hit records that will have you dancing and singing along like no other. You don’t have to be a Michael Jackson fan to enjoy Foreverland’s show, it’s fun dance music for everyone. But Foreverland endeavor to make you a believer.</dd>

		<dt><span>Q.</span> How much does Foreverland cost to hire for a private event?</dt>
		<dd><span>A.</span> The fees depend on availability, and the expenses can vary. Foreverland pride themselves in delivering value for money with a rock star performance – please call (510) 655-7926 to discuss.</dd>

		<dt><span>Q.</span> Is Foreverland the right type of band to hire for a wedding reception?</dt>
		<dd><span>A.</span> Yes, absolutely. Foreverland perform at weddings all the time, and are thrilled to do so. They promise to make it an evening to remember. Michael Jackson’s music is instantly recognizable by all, and both uplifting and romantic. Frankly, Foreverland make a refreshing change for those looking for something different from typical wedding bands. It should be noted that with our state-of-the-art sound system, Foreverland can DJ ceremony music, cocktail music, and variety music either side of the band’s performance to offer a full-service musical experience.</dd>

		<dt><span>Q.</span> Is Foreverland a Michael Jackson impersonation or look-alike?</dt>
		<dd><span>A.</span> Foreverland is a 14-piece all-star celebration of Michael Jackson’s music. The band do not attempt to do an impersonation of Michael Jackson, but channel his spirit, musicality, and energy in a manner that has satisfied fans all over the country. Foreverland recreates hits from the Jackson 5 era through the end of Michael’s incredible career in a way that honors the King of Pop’s musical genius and legendary showmanship like no other tribute band has ever done.</dd>
	</dl>
</div>
{% endblock %}
