asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2
django-appconf==1.0.6
django-compressor==4.2
django-debug-toolbar==3.2.1
django-extensions==3.1.1
django-ical==1.7.1
django-localflavor==4.0
django-phonenumber-field==7.1.0
django-phonenumbers==1.0.1
django-recurrence==1.11.1
djangorestframework==3.12.2
gunicorn==20.0.4
icalendar==5.0.11
mysqlclient==2.0.3
phonenumbers==8.13.30
pillow==10.2.0
pycryptodome==3.20.0
pymemcache==4.0.0
python-dateutil==2.8.2
python-memcached==1.59
python-stdnum==1.19
pytz==2024.1
rcssmin==1.1.1
rjsmin==1.2.1
simplejson==3.17.2
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.4
typing_extensions==4.9.0